* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: lightgrey;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    /* background: rgba(0, 0, 0, 0, 1); */
    background: linear-gradient(45deg, black, transparent);
    border-radius: 20px;
    padding: 20px;
}

form input {
    height: 30px;
    margin-bottom: 10px;
}

/* form input[input="submit"] {} */

#submit {
    width: 50%;
    border-radius: 10px;
    border: none;
    background: blue;
    color: white;

}

#submit:hover {
    cursor: pointer;
}

.stop {
    transition: 1s;
}

.move {
    transform: translateX(100%);
}